html {
  overflow-y:scroll;
}

body {
  margin: 60px auto;
  margin-bottom: 160px;
  max-width:750px;
  /*line-height:1.62;*/
  font-family: 'Inconsolata', monospace;
  background: #161616;
  color:#cdaa7d;
  padding:0 30px;
}

p {
  margin: 0px;
}

a {
  color: #cd950c;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
    border-bottom: 1px solid #cd950c;
}

.heading {
  font-weight: bold;
  margin-top: 3em;
}

.posts {
  margin-top: 3em;
}
.posts .post_item {
    margin-bottom: 1em;
}
.posts time {
    color: #7f7f7f
}
.posts .post_title:before {
  content: " ";
}

.codeblock {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  padding: 1ch 2ch;
  /*
  border-left: 1px solid #000;
  background: #000;
  color: #fff;
  padding: 24px;
  */
}

code {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
}


ul {
  list-style: none;
  margin: 0;
  padding-left: 19px;
}

ul li:before {
  content: "- ";
  margin-left: -2ch;
  width: 2ch;
  display: inline-block;
}

.sections {
  counter-reset: ol-counter;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section_item:before {
  counter-increment: ol-counter;
  content: "0" counter(ol-counter) ". ";
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-thumb {
  border-right: 10px solid #7f7f7f;
}
body::-webkit-scrollbar-thumb:hover {
  border-right: 10px solid #5f5f5f;
}
